* {
  margin: 0 auto;
  padding: 0;
}

.logo {
  margin-top: 10px;
  font-size: 40px;
  color: #000;
}

html {
  background: linear-gradient(to bottom, #ecdff7, #fff);
  background-repeat: no-repeat;
}

.containter {
  max-width: 600px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}