.fav {
    background: #fff;
    min-height: 150px;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
}

.fav h2 {
    letter-spacing: 1px;
    padding: 20px;
    font-size: 12px;
    text-align: left;
    margin-bottom: 10px;
}

.fav li {	
    background: #af84dc;
    color: #fff;
    min-height: 50px;
    padding: 10px;
	list-style-type: none;
    text-align: left;
	border-top: 3px solid #bf94e4;
    border-bottom: 3px solid #8b4dcc;
}

.fav li button {
    background: #fff;
    color: black;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    float: right;
    border: 1px solid #000;
    transition: .3s;
}

.fav li button:hover {
    background: #af84dc;
    color: #fff;
    border: 1px solid #fff;

}
.fav li .type {
    display: inline;
    font-size: 12px;
}

.fav span.counter {

}