.search {
    background: #fff;
    height: auto;
    text-align: center;
    padding: 10px;
    box-shadow: 2px 2px 5px;
    border-radius: 5px;
}

.search .error {
    margin-top: 10px;
    font-size: 16px;
    color:#af84dc;
}

.search h2.title {
    font-size: 12px;
    text-align: left;
    margin: 10px;
    letter-spacing: 1px;

}

.search input {
    width: 92%;
    margin: 5px 0px;
    padding: 10px 5px;
    border-radius: 20px;
    font-size: 20px;
    border: 1px solid #000;
    transition: .3s;
}

.search input:hover {
    background: #af84dc;
    color: #fff;
}

